# Ignore node_modules to avoid copying it to the Docker image
node_modules

# Ignore the local Next.js build output
.next

# Ignore lock files if not required
package-lock.json
yarn.lock

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore git-related files
.git
.gitignore

# Ignore editor config files
.vscode
.idea
